@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Campton';
    src: url('../../public/fonts/CamptonBook.otf'); /* IE9 Compat Modes */
    src: url('../../public/fonts/CamptonBook.otf') format('opentype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Campton';
    src: url('../../public/fonts/CamptonMedium.otf'); /* IE9 Compat Modes */
    src: url('../../public/fonts/CamptonMedium.otf') format('opentype');
    font-style: normal;
    font-weight: 500;
}

:root {
    --head-height: 176px;
    --footer-heigth: 50px;
}

a,p {
    @apply text-base;
}
a,p,h1,h2,h3,h4 {
    @apply text-dgrey
}
header {
    @apply flex justify-between items-start py-8;
}
main .swiper-button-next,
main .swiper-button-prev {
    color: #000000;
    -webkit-text-stroke: 2px white;
    @apply flex top-[200%] md:top-[50%]
}
main .swiper-button-prev {
    left: 0;
}
main .swiper-button-next {
    right: 0;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #000000;
}
main {
    height: calc(100vh - var(--head-height) - var(--footer-heigth));
    min-height: 600px;
}

/*Slider*/
/*.image-container {*/
    /*height: calc(100% - 144px);*/
/*}*/
.landscape {
    @apply w-full max-h-full;
}
.slider-container {
    /*max-height: calc(100% - 68px);*/
    max-height: 90%;
}
.slide-image {
    @apply bg-contain bg-no-repeat lg:bg-center;
}
/*Nav*/
nav ul {
    @apply max-h-60 overflow-scroll;
    /*@apply overflow-hidden lg:overflow-auto scrollbar:w-1.5 scrollbar:h-1.5 scrollbar:bg-transparent scrollbar-track:bg-slate-100 scrollbar-thumb:rounded scrollbar-thumb:bg-slate-300 scrollbar-track:rounded dark:scrollbar-track:bg-slate-500/[0.16] dark:scrollbar-thumb:bg-slate-500/50 max-h-96 supports-scrollbars:pr-2 lg:max-h-96;*/
    direction: rtl;
}
nav li {
    direction: ltr;
    text-align: left;
}
nav a,
nav span {
    @apply hover:font-medium transition-colors;
}

/*Form*/
:focus-visible {
    @apply outline-none rounded-none;
}
.scroll-left {
    direction: rtl;
}
