.work-thumbnails {
    @apply overflow-hidden flex-col items-start content-start;
}
.work-thumbnails p {
    @apply text-base mt-2;
}
.work-thumbnails img {
    /*height: 90%;*/
}
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-wrapper {
    width: 100% !important;
}
.swiper-slide {
    height: 300px!important;
}
@media screen and (min-width: 768px) {
    .swiper-slide {
        text-align: center;
        /*font-size: 18px;*/
        background: #fff;
        height: calc((100% - 30px) / 2) !important;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}
